<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A New Task</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <h1>Add A Task</h1>
    <form action="/tasks" method="POST">
        <label for="day">Select Day</label>
        <select id="day" name="task[day]">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
        </select>
        <label for="title">Task Name</label>
        <input type="text" id="title" name="task[title]">

        <button id="new">Add Task</button>
    </form>
    <a href="/tasks" class="back-btn">Back to Week View</a>
    <script src="app.js"></script>

</body>

</html>